@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.main-header{
    font-family: 'Montserrat', sans-serif;
}

.panel {
    margin-bottom: 10px;
}
